@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: rgb(26, 25, 25);
}

h1 {
  color: coral;
  /* background-color: #052c46; */
}

p {
  color: white;
}

img {
  max-height: 200px;
}

canvas {
  background-color: black;
}
